*{
  padding: 0;
  margin: 0;

  
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  /*
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;*/
}

.App {
  text-align: center;

}

nav {
  top: 2%;
  position: absolute !important;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main_header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  /*padding: 1em; */
  margin-bottom: 2em;
  background-color: rgb(91, 190, 194);
  color: #fff;
}


.heading {
  line-height: normal;
  text-align: center;
  font-size: 27px;
  font: normal normal normal 27px/1.4em brandon-grot-w01-light,brandon-grot-w05-light,sans-serif;
  letter-spacing: 1.25em;
  color:rgb(47, 46, 46);
}

.nav_ul {
  list-style: none;
}

li {
  display:flex;
}
.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;
  
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Text styles */
  text-align: center;
  color: white;
  
  /* Background styles */
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5), url('hero.jpg'));*/
  background-image: url('hero.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#our_story {
  background-color: rgb(247,233,232);
  height: 20em;
}

#our_story_inner {
  margin-bottom: 6em;
}


#details {
  height: 41em;
}
.wedding_text {
  font-size: 27px;
  letter-spacing: 20px;
  left: 10px;
  position: relative;
  margin-top: 3em;
  color: rgb(47,46,46);
  font-family: brandon-grot-w01-light,sans-serif;;
  font: normal normal normal 27px/1.4em brandon-grot-w01-light,brandon-grot-w05-light,sans-serif;
}

#wedding_info_container {
  width: 414px;
  margin-top: 3em;
  right: 20em;
  position: absolute;
}





.wedding_info_text {
  font-size: 20px;
  line-height: 2em;
  display: flex;
  font: normal normal normal 20px/1.4em didot-w01-italic,didot-w05-italic,serif;
  color: rgb(47,46,46);
}

#when {
  margin-bottom: 1em;
  
}

#where {
  margin-bottom: 1em;
}

#register {
background-color: rgb(247,233,232);
height: 20em;
}

#btn_container {
  margin-top: 4em;
  position: absolute;
  left: 50%;
  transform: translate(-50%);

}

#btn {
  outline: 0;
    position: relative;
    cursor: pointer;
    border-style: solid;
    padding: 10px 30px;
    overflow: hidden;
    white-space: nowrap;
    font: normal normal normal 20px/1.4em didot-w01-italic,didot-w05-italic,serif;
    color: rgb(47, 46, 46);
    background: rgb(255, 255, 255);
    border-radius: 0;
    border: 0;
    margin-top: 2em;
}
