*{
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main_header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgb(91, 190, 194);
  color: #fff;
}


.heading {
  line-height: normal;
  text-align: center;
  font-size: 27px;
  font: normal normal normal 27px/1.4em brandon-grot-w01-light,brandon-grot-w05-light,sans-serif;
  letter-spacing: 1.25em;
  color:rgb(47, 46, 46);
}

.navbar {
  width: 120px;
  height: 225px;
  justify-self: start;
  align-self: start;
  margin-top: 69px;
  left: 20px;
  position: absolute;
  grid-area: 1 / 1 / 2 / 2;
  pointer-events: auto;
}

.nav_ul {
  list-style: none;
}

li {
  display:flex;
}
.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;
  
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Text styles */
  text-align: center;
  color: white;
  
  /* Background styles */
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5), url('hero.jpg'));*/
  background-image: url('hero.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#our_story {
  background-color: rgb(247,233,232);
  height: 20em;
}

#our_story_inner {
  margin-bottom: 6em;
}


.wedding_text {
  font-size: 27px;
  letter-spacing: 1.6em;
  left: 5em;
  position: absolute;
  margin-top: 3em;
}

#wedding_info_upper {
  position: relative;
    margin: 0px 0px 10px calc((100% - 980px) * 0.5);
    left: 565px;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start;
    width: 414px;
    margin-bottom: 6em;
    margin-top: 3em;
}

#wedding_info_middle {
  position: relative;
    margin: 0px 0px 30px calc((100% - 980px) * 0.5);
    left: 565px;
    grid-area: 6 / 1 / 7 / 2;
    justify-self: start;
    align-self: start;
    width: 317px;
    
  
}

.wedding_info_text {
  font-size: 20px;
  line-height: 2em;
  display: flex;
  font: normal normal normal 20px/1.4em didot-w01-italic,didot-w05-italic,serif;
  color: rgb(47,46,46);
}

#when {
  margin-bottom: 1em;
  
}

#where {
  margin-bottom: 1em;
}